<div class='row'>
  <div class='small-12 columns'>
    <p>For more accurate hotspot suggestions, please enter your current address below and press <strong>Find Me</strong></p>
    <h6>We have you at <%= @address %></h6>
  </div>

  <div class='small-10 columns'>
    <div class='row collapse'>
      <%= form_tag find_me_users_path do %>
      <div class='small-10 columns'>
        <%= text_field_tag :location, nil, placeholder: 'Enter your location here' %>
      </div>
      <div class='small-2 columns'>
        <%= submit_tag 'find me', class: 'button postfix' %>
      </div>
      <% end %>
    </div>
  </div>

  <div class='small-8 columns'>
    <% if @hotspots.empty? %>
      <p>Unfortunately we could not find any hotspots near the address you entered.  Please enter a new address</p>
    <% else %>
      <img src='<%= @google_map_url %>'>
    <% end %>
  </div>

  <div class='small-4 columns'>
    <ul>
      <% unless current_user %>
      <li><h6>Log in to see individual wifi locations</h6></li>
      <% end %>
      <% @hotspots.each do |hotspot| %>
      <% if current_user %>
      <li><%= link_to hotspot.name, hotspot %><br />
        <% else %>
        <li> <%= hotspot.name %> </li>
        <% end%>
        <%= "#{hotspot.street}, #{hotspot.city}" %><br />
        <%= hotspot.phone %><br />
        <% if @avg_rating[hotspot.id] == 0 %>
          <p>This hotspot has not yet been rated</p>
        <% else %>
          avg rating <strong><%= @avg_rating[hotspot.id].round(2) %></strong> out of 5 <br />
           based on <%= "#{pluralize(hotspot.ratings.count, 'rating')}" %>
        <% end %>
       
      </li>
      <% end %>
    </ul>
  </div>

</div>