<div class='row'>
	<div class='small-12 columns'>
		<h1>Users</h1>
		<% @users.each do |user| %>
			<p>User name: <%= user.name %> <small><%= link_to 'edit', edit_user_path(user) %> // <%= link_to 'delete', user, method: :destroy, confirm: 'Are you sure?' %></small><br />
				User email: <%= user.email %><br />
				Admin: <%= user.admin? %>
			</p>
		<% end %>
	</div>
</div>