<div class='row'>
	<div class='small-12 columns'>
		<h1>Users</h1>
		<% @users.each do |user| %>
			<p>User name: <%= user.name %><br />
				User email: <%= user.email %><br />
				User latitude: <%= user.latitude %><br />
				User longitude: <%= user.longitude %><br />
				User location: <%= user.location %>
			</p>
		<% end %>
	</div>
</div>