<h1>Users#index</h1>
<% @users.each do |user| %>
	<p>User name: <%= user.name %></p>
	User email: <%= user.email %><br />
	User latitude: <%= user.latitude %><br />
	User longitude: <%= user.longitude %><br />
	<p>User location: <%= user.location %></p>

	<% end %>