<h1>Users#index</h1>
<% @users.each do |user| %>
	<p>User name: <%= user.name %></p>
	<span>User email: <%= user.email %></span>
	<span>User latitude: <%= user.latitude %></span>
	<span>User longitude: <%= user.longitude %></span>
	<p>User location: <%= user.location %></p>

	<% end %>