<div class='row'>
	<div class='small-12 columns'>
		<h1><%= @user.name %></h1>
		<p>This user's email:<%= @user.email %></p>
		<p>This user's location:<%= @user.location %></p>
		<p>This user's latitude:<%= @user.latitude %></p>
		<p>This user's longitude:<%= @user.longitude %></p>

		<%= button_to 'Edit your account', edit_user_path(@user), method: 'get' %>
		<%= button_to 'Delete your account', user_path(@user), method: 'delete' %>
	</div>
	<h5>Your Previous Ratings</h5>
	<%= render partial: '/ratings/index', locals: {object: @user} %>

</div>
