<div class='row box'>
	<div class='small-12 columns'>
		<h1><%= @user.name %></h1>
		<p>Your email:<%= @user.email %></p>
		<%= button_to 'Edit your account', edit_user_path(@user), method: 'get' %>
		<%= button_to 'Delete your account', user_path(@user), method: 'delete' %>
	</div>
	<% if @ratings.nil? %>
		<p>You Have Not rated any hotspots yet</p>
	<% else %>
		<h5>Your Previous Ratings</h5>
		<%= render partial: '/ratings/index', locals: {object: @user} %>
	<% end %>
	<h5>Edit your profile:</h5>
	<%= render 'users/partials/form' %>

</div>
