<% object.ratings.each do |rating| %>
	<ul>
		<li>Wifi Location:<%= Hotspot.find(rating.hotspot_id).name %></li>
		<li>Speed: <%= rating.speed %></li>
		<li>Reliability <%= rating.reliability %></li>
		<li>Accessibility <%= rating.accessibility %></li>
		<li>Power <%= rating.power %></li>
		<li>Noise Level <%= rating.noise_level %></li>
		<% avg_rating = ((rating.speed + rating.reliability + rating.accessibility + rating.power + rating.noise_level) / 5).to_f %>
		<b>Overall Rating: <%= avg_rating %></b>
		<br>
		<li>Comments: <%= rating.comments %></li>
	</ul>
<% end %>