<div class='row box'>
	<div class='small-12 columns'>
	<h2>NYC WiFi HOTSPOTS</h2>
	<h3><%= @hotspots.count %> available hotspots</h3>
	<% @hotspots.each do |hotspot| %>
		<div class='small-12 columns'>
			<div class='hotspot-teaser'>
				<strong><%= hotspot.id %><br />
					<%= hotspot.name %></strong><br />
				<%= hotspot.street %>, <%= hotspot.city %> <%= hotspot.zip %><br />
				<br />
				<strong><%= hotspot.fee %> wifi</strong><br />
				<%= hotspot.phone %><br />
				<%= link_to 'website', hotspot.url  unless hotspot.url == " " %>
				<br />
				<%= link_to "#{pluralize(hotspot.ratings.count, 'rating')}",hotspot %>  |  
			</div>
		</div>
	<% end %>
</div>
</div>