<div class='row'>
	<div class='small-12 columns'>
		<h2><%= @hotspot.name %></h2>
		<% if @avg_rating == 0 %>
      <p>This hotspot has not yet been rated</p>
    <% else %>
			<h3>Average Rating is <%= @avg_rating %> out of 5</h3>
		<% end %>
		<h5><%= @hotspot.street %>, <%= @hotspot.city %>, <%= @hotspot.zip %>: <%= @hotspot.phone %></h1>
		<img src='<%= @google_map_url %>'>
		<% if @ratings.nil? %>
			<p>There are no ratings but your code is working</p>
		<% else %>
			<%= render partial: '/ratings/index', locals: {object: @hotspot} %>
		<% end %>
	</div>
	<h3><%= @hotspot.name %>'s Ratings</h3>

	<%= render partial: '/ratings/new', locals: {object: @hotspot} %>
</div>