<div class='row'>
	<div class='small-12 columns'>
		<h1>You're checked in at: <%= @hotspot.name %></h1>
		<h4><%= @hotspot.name %></h1>
		<h5><%= @hotspot.street %>, <%= @hotspot.city %>, <%= @hotspot.zip %>: <%= @hotspot.phone %></h1>
		<img src='<%= @google_map_url %>'>
		<% if @ratings.nil? %>
			<p>There are no ratings but your code is working</p>
		<% else %>
			<%= render partial: '/ratings/index', locals: {object: @hotspot} %>
		<% end %>
	</div>
	<h3><%= @hotspot.name %>'s Ratings</h3>

	<%= render partial: '/ratings/new', locals: {object: @hotspot} %>
</div>


